<% if @tripp.errors.any? %>
	<ul>
		<% @tripp.errors.full_messages.each do |error| %>
			<li><%= error %></li>
			<% end %>
	</ul>
<% end %>

<%= form_for @tripp do |f| %>
	<%= f.label  :name %>
	<%= f.text_field :name %>
	<br />
	<div class="switch">
    <label>
      Business
      <%= f.check_box :vacation %>
      <span class="lever"></span>
      Vacation
    </label>
  </div>

<br />
	<%= f.label :date %>
	<%= f.date_field :date %>
<br />
	<%= f.label :duration %> (Days)
	<%= f.select :duration, (1..31).to_a %>
<br />
    <div class="file-field input-field">
      <div class="btn">
        <span>Background Image</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
	<a class="waves-effect waves-light btn"><%= f.submit %></a>
<% end %>
<br />
