<div class="hero">
<h1><%= @location.name %></h1>
<h4><%= @location.category %></h4>
<h4>Price: <%= @location.cost %></h4>
<h4>Hours: <%= @location.hours %></h4>
<%= render(partial: "address_list")%>


<div class="primary-footer">
<% if @location.address.present? %>
  <%= link_to 'Edit Address', edit_tripp_location_address_path(@tripp, @location, @location.address) %>
<% else %>
  <%= link_to 'Add Address', new_tripp_location_address_path(@tripp, @location) %>
<% end %>

| <%= link_to 'Edit Location', edit_tripp_location_path(@tripp, @location) %> |
<%= link_to 'Delete Location', tripp_location_path(@tripp, @location), method: :delete, data: {confirm: 'Really Delete?'} %>
<br />
<%= link_to 'Back to Trip', tripp_path(@tripp) %> 
</div>
</div>